@use 'variables';

.btn {
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 2px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

    &:hover {
        transform: scale(1.05);
    }
}

.btn-start,
.btn-single-player,
.btn-two-player {
    background-color: $green;
    margin-bottom: 20px;

    &.hide {
        display: none;
    }
}

.btn-new-game {
    background-color: $green;
}

.btn-new-players {
    background-color: $yellow;
}
