@use 'variables';

.btn {
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    border-radius: $border;
    box-shadow: $shadow;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

.btn-start {
    background-color: $green;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-new-game {
    background-color: $green;
}

.btn-new-players {
    background-color: $yellow;
}

.toggle-btn {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
    background-color: $faded-grey;
    border-radius: $border;
    box-shadow: $shadow;
    z-index: 1;

    .btn-two-player {
        position: relative;
        padding: 10px;
        z-index: 5;
        cursor: pointer;
        transition: all 0.5s;
        opacity: 0.5;
    }

    .btn-single-player {
        position: relative;
        z-index: 5;
        padding: 10px;
        transition: all 0.5s;
    }

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        background-color: $yellow;
        border-radius: $border;
        z-index: 4;
        transition: all 0.3s ease-in-out;
    }

    &.switch {
        .btn-single-player {
            cursor: pointer;
            opacity: 0.5;
        }

        .btn-two-player {
            cursor: default;
            opacity: 1;
        }

        &:after {
            left: 50%;
        }
    }
}

.three-way-btn {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    width: 250px;
    text-align: center;
    background-color: $faded-grey;
    box-shadow: $shadow;
    border-radius: $border;
    z-index: 1;

    .btn-easy,
    .btn-medium,
    .btn-hard {
        position: relative;
        z-index: 5;
        transition: all 0.5s;
    }

    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 33.33%;
        left: 0;
        background-color: $green;
        border-radius: $border;
        z-index: 4;
        transition: all 0.3s ease-in-out;
    }

    &.switch-easy {
        .btn-easy {
            opacity: 1;
            cursor: default;
        }

        .btn-medium {
            opacity: 0.5;
            cursor: pointer;
        }

        .btn-hard {
            opacity: 0.5;
            cursor: pointer;
        }

        &:after {
            left: 0;
            background-color: $green;
        }
    }

    &.switch-medium {
        .btn-easy {
            opacity: 0.5;
            cursor: pointer;
        }

        .btn-medium {
            opacity: 1;
            cursor: default;
        }

        .btn-hard {
            opacity: 0.5;
            cursor: pointer;
        }

        &:after {
            left: 33.33%;
            background-color: $yellow;
        }
    }

    &.switch-hard {
        .btn-easy {
            opacity: 0.5;
            cursor: pointer;
        }

        .btn-medium {
            opacity: 0.5;
            cursor: pointer;
        }

        .btn-hard {
            opacity: 1;
            cursor: default;
        }

        &:after {
            left: 66.7%;
            background-color: $red;
        }
    }

    &.hide {
        display: none;
    }
}
