@use 'variables';

.game-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    display: none;
    width: 300px;
    height: 300px;
    background-color: gray;
    margin-bottom: 30px;

    .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(75, 75, 75);
        font-size: 4rem;
        font-weight: 400;
        background-color: $light-grey;
        transition: all 0.3s ease-in-out;

        &.highlight {
            background-color: rgb(205, 245, 205);
            &--grey {
                background-color: rgb(216, 216, 216);
            }
        }

        &.unmarked:hover {
            background-color: rgb(216, 216, 216);
        }
    }

    &.reveal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 7px;
    }
}

.game-info {
    margin: 0 auto;
    display: none;
    margin-bottom: 50px;

    &.reveal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.score-board {
    position: relative;
    min-width: 200px;
    background-color: $font-color-grey;
    min-height: 120px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid $font-color-grey;
    row-gap: 2px;
    font-weight: 400;

    & > * {
        background-color: rgb(255, 255, 255);
    }

    .score-board__symbol-one,
    .score-board__symbol-two {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .score-board__name-one,
    .score-board__name-two {
        display: flex;
        align-items: center;
        text-align: left;
        padding-left: 5px;
    }

    .score-board__score-one,
    .score-board__score-two {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 2px solid $font-color-grey;
    }

    &:after {
        content: "Your Turn --->";
        transition: all 0.3s;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $red;
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: -110%;
    }

    &.player-two-turn:after {
        top: 50%;
    }

    &.win:after {
        content: "You Win! --->";
    }
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;

    & > * {
        margin: 5px;
    }
}

.game-message-text {
    display: none;
    margin-top: 20px;
    transition: all 0.3s;

    &.bigger {
        transform: scale(1.2);
    }
}

.inputs-container {
    width: 250px;
    height: 110px;
    text-align: center;

    .player-one-form,
    .player-two-form {
        display: grid;
        grid-template-columns: 80% 15%;
        grid-gap: 10px;

        &.hide {
            display: none;
        }
    }

    .cpu-form.hide {
        display: none;
    }

    &.hide {
        display: none;
    }

    input {
        padding: 5px 10px;
        border: 2px solid rgb(156, 156, 156);
        margin-bottom: 10px;

        &.hide {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }
}

.main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    &.hide {
        display: none;
    }
}

.guide {
    color: rgb(201, 201, 201);
    font-weight: 300;
}
