@use 'variables';

.game-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    position: relative;
    display: none;
    width: 300px;
    height: 300px;
    background-color: $grey;
    margin-bottom: 30px;
    z-index: 5;

    .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $font-color-semi-dark;
        font-size: 4rem;
        font-weight: 400;
        background-color: $light-grey;
        transition: all 0.3s ease-in-out;

        &.highlight {
            background-color: $highlight-green;
            &--grey {
                background-color: $highlight-grey;
            }
        }

        &.unmarked:hover {
            background-color: $highlight-grey;
        }
    }

    &.reveal {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 7px;
    }

    &.click-shield::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}

.game-info {
    display: none;
    margin: 0 auto;
    margin-bottom: 50px;

    &.reveal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.score-board {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2px;
    font-weight: 400;
    min-width: 200px;
    min-height: 120px;
    background-color: $font-color-grey;
    border: 2px solid $font-color-grey;

    & > * {
        background-color: rgb(255, 255, 255);
    }

    .score-board__symbol-one,
    .score-board__symbol-two {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .score-board__name-one,
    .score-board__name-two {
        display: flex;
        align-items: center;
        text-align: left;
        padding-left: 5px;
    }

    .score-board__score-one,
    .score-board__score-two {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 2px solid $font-color-grey;
    }

    &:after {
        content: "Your Turn --->";
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $red;
        width: 100%;
        height: 60px;
        top: 0;
        left: -110%;
        transition: all 0.3s;
    }

    &.player-two-turn:after {
        top: 50%;
    }

    &.win:after {
        content: "You Win! --->";
    }
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;

    & > * {
        margin: 5px;
    }
}

.game-message-text {
    display: none;
    margin-top: 20px;
    transition: all 0.3s;

    &.bigger {
        transform: scale(1.2);
    }
}
