@media only screen and (max-width: 700px) {
    .game-info {
        flex-direction: column;

        .btn-container {
            margin-left: 0;
            margin-top: 20px;
        }

        .score-board {
            &:after {
                display: none;
            }
        }

        .game-message-text {
            display: block;
        }
    }
}

@media only screen and (max-width: 400px) {
    body .game {
        width: 250px;
        height: 250px;
    }
}
