@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

//font
$main-font: "Roboto", sans-serif;
// $secondary-font: "Oswald", sans-serif;
$secondary-font: "Oswald", sans-serif;

$font-color-dark: #333;
$font-color-grey: #777;

//colors
$green: #a9c8c0;
$yellow: #dbbc8e;
$red: #ae8a8c;
$blue: #7c98ab;
$light-grey: #f4f4f4;
